@import 'fonts';
@import '~bootstrap/scss/bootstrap';

.container {
  width: 94%;
  max-width: 960px;
  margin: 50px auto;
  font-family: "Special Elite";
  font-size: 30px;
}

a, a:visited {
  text-align: center;
  display: block;
  text-decoration: none;
}

.dropdown,
.dropdown-login {
  display: flex;
  font-size: 15px;
  justify-content: flex-end;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "Special Elite";
}

.login-messages,
.signup-messages,
.sign-in-messages {
  display: flex;
  justify-content: center;
  font-family: Arapey;
  font-size: 20px;
}

.restaurant-style,
.content {
  font-family: Arapey;
  font-size: 18px;
  align-items: center;
}

/* Emoji provided free by http://emojione.com */
.emoji {
  position: absolute;
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  width: 42px;
  top: -64px;
}

.food {
  background: grey;
  position: absolute;
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  height: 100vh;
  width: 100vw;
  top: 100vh;
}
