@import '~bootstrap/scss/bootstrap';

.container {
  width: 94%;
  max-width: 960px;
  margin: 75px auto;
}

a, a:visited {
  text-align: center;
  display: block;
  text-decoration: none;
}

.dropdown {
  display: flex;
  font-size: 15px;
  justify-content: flex-end;
}

#login-message {
  display: flex;
  justify-content: center;
}

.sign-in-container {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;

  fieldset {
    border: 1px groove;
    margin: 0 0 1.5em;
    padding: 1.4em 1.4em 1.4em;
    max-width: 800px;
    min-width: 100px;
  }
}
